.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 88%;
  margin-top: 9.5rem;
}

@media only screen and (min-width: 800px) {
  
  
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    margin-top: 5.5rem;
    
  }
}